
* {
    margin: 0;
    padding: 0;
    }
    
    body{
    background: #0a122a;
    }
    
    .wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 750px;
    }

    .wrapper ul{
    list-style: none;
    }
    
    .wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #d8e2dc;
    float: left;
    transition: all 0.5s ease;
    }
    
    .wrapper ul li .fa{
    color: #d8e2dc;
    margin-top: 20px;
    transition: all 0.5s ease;
    }
    
  .wrapper ul li:hover.facebook{
    border: 5px solid #1877F2;
    box-shadow:0 0 15px #1877F2;
    transition: all 0.5s ease;
    }
    
   .wrapper ul li:hover .fa-facebook{
    color: #7d9de0;
    text-shadow: 0 0 15px #7d9de0;
    transition: all 0.5s ease;
    }
    
    
 .wrapper ul li:hover.twitter{
    border:5px solid #1B9DF0;
    box-shadow: 0 0 15px #1B9DF0;
    transition: all 0.5s ease;
    }
   .wrapper ul li:hover .fa-twitter{
    color: #1B9DF0;
    text-shadow: 0 0 15px #1B9DF0;
    transition: all 0.5s ease;
    }
    
    
.wrapper ul li:hover.instagram{
    border:5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
    }
    .wrapper ul li:hover .fa-instagram{
    color: #F47133;
    text-shadow: 0 0 15px #F47133;
    transition: all 0.5s ease;
    }
    
.wrapper ul li:hover.google{
    border:5px solid #E53743;
    box-shadow: 0 0 15px  #E53743;
    transition: all 0.5s ease;
    }
    .wrapper ul li:hover .fa-google{
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
    }
    
.wrapper ul li:hover.whatsapp{
    border:5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
    }
    .wrapper ul li:hover .fa-whatsapp{
    color: #7ad376;
    text-shadow: 0 0 15px #7ad376;
    transition: all 0.5s ease;
    }
.wrapper ul li:hover.linkedin{
    border:5px solid #0277B5;
    box-shadow: 0 0 15px #0277B5;
    transition: all 0.5s ease;
    }
    .wrapper ul li:hover .fa-linkedin{
    color: #51aee0;
    text-shadow: 0 0 15px #51aee0;
    transition: all 0.5s ease;
    }
.wrapper ul li:hover.youtube{
    border:5px solid #FF0000;
    box-shadow: 0 0 15px #FF0000;
    transition: all 0.5s ease;
    }
    .wrapper ul li:hover .fa-youtube{
    color: #eb9797;
    text-shadow: 0 0 15px #eb9797;
    transition: all 0.5s ease;
    }
    
@media screen and (max-width: 480px){
    .wrapper{
    width: 120px;
    }
    .wrapper ul li{
    margin-top:10px;}
  
    /* Acomodar tamaño de pantalla */
@media screen and (max-width: 340px){
      .wrapper{
         width: 150px;
       }
       .wrapper ul li{
         margin: 15px;
    }
      .wrapper ul li.google{
         margin-left: 15px;
    }
    }
}